In [0]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

df = pd.read_csv('/content/sample_data/movie_dataset.csv')

In [3]:
df.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [0]:
features = ['keywords', 'cast', 'genres', 'director']

def combine_features(row):
    return row['keywords']+" "+row['cast']+" "+row['genres']+" "+row['director']

In [0]:
for feature in features:
    df[feature] = df[feature].fillna('')

df["combined_features"] = df.apply(combine_features,axis=1)

In [0]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combined_features"])
cosine_sim = cosine_similarity(count_matrix)

In [0]:
def get_title_from_index(index):
    return df[df.index == index]["title"].values[0]
def get_index_from_title(title):
    return df[df.title == title]["index"].values[0]

In [0]:
movie_user_likes = "Ted"
movie_index = get_index_from_title(movie_user_likes)
similar_movie = list(enumerate(cosine_sim[movie_index]))

In [12]:
sorted_similar_movies = sorted(similar_movie, key=lambda x:x[1], reverse=True)[1:]
i=0
print("Top movies like " +movie_user_likes+ " are\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>5:
        break;

Top movies like Ted are

Ted 2
A Million Ways to Die in the West
This Is the End
You, Me and Dupree
Zack and Miri Make a Porno
The Indian in the Cupboard